.green {
    background-color: green;
    color: white;
}

.goldenrod {
    background-color: goldenrod;
    color: white;
}

.red {
    background-color: maroon;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.circle {
    width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 50%;
    font-size: 35px;
    color: #fff;
    text-align: center;
    background: #000;
  }